<div class="container">
  <div [hidden]="!displayMatrix" *ngFor="let i of range(2, mat.length);"
       style="display: flex; align-items: center; flex-direction: column; width: 95%;">

    <table mat-table [dataSource]="range(0, mat[i].length)" style="margin-top: 20px;">

      <ng-container *ngFor="let j of range(1, mat[i][0].length - 1);" matColumnDef="{{columnNames[j - 1]}}">
        <th mat-header-cell *matHeaderCellDef>{{columnNames[j - 1]}}</th>
        <td mat-cell *matCellDef="let element; let rowIndex = index;">
          {{mat[i][rowIndex][j]}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Z">
        <th mat-header-cell *matHeaderCellDef>Z</th>
        <td mat-cell *matCellDef="let element; let rowIndex = index;">
          {{mat[i][rowIndex][0]}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames;"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
    </table>
  </div>

  <div class="vertical_space"></div>
  <div class="vertical_space"></div>
</div>
