@import '~src/global_classes';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-container {
  display: flex;
  height: fit-content;
  width: fit-content;
}

@media screen and (max-width: 1000px) {
  .form-container {
    width: 90%;
  }
}

mat-form-field {
  width: 150px;
  padding-right: 10px;
  padding-left: 10px;
}
