@import "~src/global_classes";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  width: 65%;
  height: 400px;
}

.img1 {
  background: url("~src/assets/Genetic_1.PNG") no-repeat;
  background-size: 100% 100%;
}

.img2 {
  background: url("~src/assets/Genetic_2.PNG") no-repeat;
  background-size: 100% 100%;
}

.img3 {
  background: url("~src/assets/Genetic_3.PNG") no-repeat;
  background-size: 100% 100%;
}
